body {
    background-color: black;
}
.flex-container {
display: flex;
}

.flex-container div {
    background-color: black;
    border: 2px solid brown;
    height: 1000px;
    flex: 1;
}
.containertwo {
    display: flex;
}
.containertwo div {
    height: 100px;
    border: 1px solid blue;
    background-color: black;
}

.containerthree {
    display: flex;

}


.containerthree div {
    height: 100px;
    border: 1px solid blue;
    flex: 1;
}

.containerfour {
    display: flex;

}

.containerfour div {
    height: 100px;
    border: 2px solid blue;
    flex: 1;

}
.boxtwo {
    border: 0;
}
h2 {
    background-color: gray;
    font-size: 25px;
    color: black;
    margin-left: 180px;
    display: inline;
    border: 1px solid blue;
    
}
h1 {
    background-color: gray;
    font-size: 25px;
    color: black;
    display: inline;
    border: 1px solid blue;

}

