body {
    background-color: ;
    /* background-image: url(/img/blue-snow.jpeg); */
    background-attachment: fixed;
    height: 100vh;
    
}

.logo {
    height: 50px; 
    /* Adjust the height as needed */
    margin-right: 15px;
  }

.title-container {
    text-align: center;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

.subtitle {
    font-size: 14px;
  }

  /* Add gaps between navigation items */
.navbar-nav .nav-item {
    margin-right: 47px;
  }
  
  /* To remove the margin after the last navigation item */
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }


a{
  text-decoration: none;
}
    


.footer-bottom {
    margin-top: 40px;
    width: 100%;
  }